<%var page=page %>
    <% include ../partials/header %>

            <form id="form" class="ui form m-container" action="/<%=page%>/<%=blog._id%>?_method=PUT" method="post">
                <div class="container__left center-aligned">
                    <div class="container__left__login">
 <div class=" ui form">
     <label>Topic:</label>
     <div class="ui form">
         <div class="field">
             <select name="topic" class="ui dropdown">
    <%switch(blog.topic){  case "art":%>
 <option value="">Select Topic</option>
 <option value="art" selected>Art</option>
 <option value="travel">Travel</option>
 <option value="technology">Technology</option>
 <option value="music">Music</option>
 <option value="design">Design</option>
    <% break; case "travel":%>
<option value="">Select Topic</option>
 <option value="art">Art</option>
 <option value="travel" selected>Travel</option>
 <option value="technology">Technology</option>
 <option value="music">Music</option>
 <option value="design">Design</option>
       <% break; case "technology":%>
 <option value="">Select Topic</option>
 <option value="art">Art</option>
 <option value="travel" >Travel</option>
 <option value="technology" selected>Technology</option>
 <option value="music">Music</option>
 <option value="design">Design</option>
     <% break; case "music":%>
 <option value="">Select Topic</option>
 <option value="art">Art</option>
 <option value="travel" >Travel</option>
 <option value="technology" >Technology</option>
 <option value="music" selected>Music</option>
 <option value="design">Design</option>
   <% break; case "design":%>
 <option value="">Select Topic</option>
 <option value="art">Art</option>
 <option value="travel" >Travel</option>
 <option value="technology" >Technology</option>
 <option value="music" >Music</option>
 <option value="design" selected>Design</option>
                   <%} %>
                    </select>
         </div>
     </div>
     <div class="field">
         <label>Main Title:</label>
         <input type="text" name="title" class="ui input" placeholder="Title" value="<%=blog.title%>" >
     </div>
     <label>Main Image:</label>
     <input type="text" class="ui input" name="mainimage" placeholder="Image" value="<%=blog.mainimage%>">
     <label>Short description:</label>
     <textarea rows="4" cols="50" name="shortdescription" placeholder="Write a short description"><%=blog.shortdescription%></textarea>
 </div>
                    </div>
                </div>
                <div class="container__right forms">
                    <div class="container__left__form">
 <div id="form-container">
    <% for (let i=0;i<Object.keys(blog.blogcontent).length;i++){ %>
    <%console.log(i)%>
    <% let inputtype=Object.keys(blog.blogcontent)[i];%>
    <% let content=blog.blogcontent[Object.keys(blog.blogcontent)[i]];%>
    <%if(inputtype.substring(0,inputtype.length-1)==="image" ){%>
 <div id="context<%=i%>" class="container__left__single-form">
    <div class="ui top attached tabular menu one">
    <a class="item active" data-tab="image">Image</a>
    <a class="item" data-tab="subtitle">Subtitle</a>
    <a class="item" data-tab="text">Text</a>
    </div>
    <div class="ui bottom active attached tab segment" data-tab="image">
  <div class="ui form">
      <div class="field">
          <p>Add Image link</p> <input name="image2" class="ui input blogimage" type="text" value="<%=content%>" placeholder="Image"></div>
  </div>
</div>
<div class="ui bottom attached tab segment" data-tab="subtitle">
  <div class="ui form">
      <div class="field">
          <p>Add Subtitle</p> <input name="title2" class="ui input subtitle" type="text" placeholder="Subtitle"></div>
  </div>
 </div>
 <div class="ui bottom attached tab segment" data-tab="text">
  <div class="ui form">
      <div class="field">
          <p>Add text</p> <textarea rows="4" class="bodycontent" cols="50" name="content2" placeholder="Write text"></textarea></div>
  </div>
    </div>
</div>
<% } else if(inputtype.substring(0,inputtype.length-1)==="content" ) {%>
 <div id="context<%=i%>" class="container__left__single-form">
    <div class="ui top attached tabular menu one">
    <a class="item" data-tab="image">Image</a>
    <a class="item" data-tab="subtitle">Subtitle</a>
    <a class="item active" data-tab="text">Text</a>
    </div>
    <div class="ui bottom attached tab segment" data-tab="image">
  <div class="ui form">
      <div class="field">
          <p>Add Image link</p> <input name="image2" class="ui input blogimage" type="text" placeholder="Image"></div>
  </div>
</div>
<div class="ui bottom attached tab segment" data-tab="subtitle">
  <div class="ui form">
      <div class="field">
          <p>Add Subtitle</p> <input name="title2" class="ui input subtitle" type="text" placeholder="Subtitle"></div>
  </div>
 </div>
 <div class="ui bottom attached active tab segment" data-tab="text">
  <div class="ui form">
      <div class="field">
          <p>Add text</p> <textarea rows="4" class="bodycontent" cols="50" name="content2" placeholder="Write text"><%=content%></textarea></div>
  </div>
    </div>
</div>
<%} else if(inputtype.substring(0,inputtype.length-1)==="title" ){%>
 <div id="context<%=i%>" class="container__left__single-form">
    <div class="ui top attached tabular menu one">
    <a class="item" data-tab="image">Image</a>
    <a class="item active" data-tab="subtitle">Subtitle</a>
    <a class="item" data-tab="text">Text</a>
    </div>
    <div class="ui bottom attached tab segment" data-tab="image">
  <div class="ui form">
      <div class="field">
          <p>Add Image link</p> <input name="image2" class="ui input blogimage" type="text" placeholder="Image"></div>
  </div>
</div>
<div class="ui bottom attached active tab segment" data-tab="subtitle">
  <div class="ui form">
      <div class="field">
          <p>Add Subtitle</p> <input name="title2" class="ui input subtitle" type="text" placeholder="Subtitle" value="<%=content%>"></div>
  </div>
 </div>
 <div class="ui bottom attached tab segment" data-tab="text">
  <div class="ui form">
      <div class="field">
          <p>Add text</p> <textarea rows="4" class="bodycontent" cols="50" name="content2" placeholder="Write text"></textarea></div>
  </div>
    </div>
</div>
<%}%>
<script>
    $('#context<%=i%> .menu .item').tab({context: $('#context<%=i%>')});
</script>
 <%}%>
 </div>
 <button value="submit" class="ui big black button">Submit</button>
                    </div>
                </div>

            </form>
            <button onClick="addOne()" id="add-more" class="circular ui icon big yellow button"><i class="plus black icon large" ></i></button>

        </body>
        <script>
            $('#multi-select')
                .dropdown();
            $('#context1 .menu .item').tab({
                context: $('#context1')
            });
            $('#context2 .menu .item').tab({
                context: $('#context2')
            });

        </script>
<%include ../partials/footer %>
